<a id="back" href="/board/{{board._id}}">&#8249; Back</a>
<div id="boardSettings">
    <!-- Form for changing the board settings -->
    <form id="changeBoardForm" action="/board/settings/{{board._id}}" method="POST">
        <input type="hidden" name="_method" value="PATCH"/>
        <div class="boardNameDiv">
            <label for="boardName">Name: </label>
            <input id="boardName" name="boardName" type="text" placeholder="Board Name" value="boardName"/>
        </div>
        <div class="colorDiv">
            <label for="boardColor">Color: </label>
            <input id="boardColor" name="boardColor" type="color" placeholder="Color" value="boardColor"/>
        </div>
        <div class="descriptionDiv">
            <label for="description">Description: </label>
            <br>
            <textarea id="description" name="description" placeholder="Description...">description</textarea>
        </div>
        <button type="submit">Save Changes</button>
    </form>
    <!-- form for deleting a board -->
</div>
<form id="leaveBoardForm" action="/board/remove/{{board._id}}" method="POST">
            <button id="deletebtn" type="submit">Delete Board</button>
    </form>
<div id="invite">
    <!-- Form for inviting people to the board -->
    <form id="inviteForm" action="/board/invite/{{board._id}}" method="POST">
        <div class="emailDiv">
            <label for="inviteEmail">Email: </label>
            <input id="inviteEmail" name="email" type="email" placeholder="User Email"/>
        </div>
        <button type="submit">Invite</button>
    </form>
</div>

