{{!-- The BoardHub logo with the link back home will still show up. --}}

{{!-- title would be "404 not found", for instance --}}
<div class="error-page">
  <h1 class="err-h1">{{title}}</h1>
  {{!-- message is optional --}}
  {{#if message}}
    <p class="err-msg">{{message}}</p>
  {{/if}}
</div>
