<h2>{{user.name}}</h2>

<div id="pfp-large" style="background-color: {{user.color}}">
  {{user.initials}}
</div>

<div class="user-btn">
  <button type="button" id="sign-out">Sign Out</button>
  <button type="button" id="delete-account">Delete Account</button>
</div>