<div id="user-page">
  <h1>{{user.name}}</h1>

  <div id="pfp-large" style="background-color: {{user.color}}">
    <p>{{user.initials}}</p>
  </div>

  <form id="change-pass-form" action="/users/password" method="POST">
    <input type="hidden" name="_method" value="put" />
    <h2 class="change-psss-user">Change Password?</h2>
      <p id="change-pass-error" hidden>Invalid Credentials</p>
      <label>
      Old Password
      <input type="password" name="oldPass" id="oldPass" placeholder="Old password..." required/>
      </label>
      <label>
      New Password
      <input type="password" name="newPass" id="newPass" placeholder="New password..." required/>
      </label>
      <label>
      Verify New Password
      <input type="password" name="verNewPass" id="verNewPass" placeholder="New password..." required/>
      </label>
      <button type="submit">Change Password</button>
  </form>
  <button type="button" id="sign-out" class="user-btn">Sign Out</button>
  <button type="button" id="delete-account" class="user-btn">Delete Account</button>
</div>