@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 100px;
  font-size: 13px;
  background-color: #DB4D4D;
}

a{
  font-size: 20px;
  position:absolute;
  top: 7%;
}

input{
  font-size:20px;
}

button{
 display: inline-block;
 padding: 0.5em 3em;
 border: 0.16em solid #FFFFFF;
 margin: 0 0.3em 0.3em 0;
 box-sizing: border-box;
 text-decoration: none;
 text-transform: uppercase;
 font-family: 'Roboto',sans-serif;
 font-weight: 400;
 color: black;
 text-align: center;
 transition: all 0.15s;
}

button:hover{
 color: #DDDDDD;
 border-color: #DDDDDD;
}

 button :active{
 color: #BBBBBB;
 border-color: #BBBBBB;
}

@media all and (max-width:30em){
 button{
 display: block;
 margin: 0.4em auto;
 }
}

label, textarea {
  font-size: 20px;
}

#invite{
 position:absolute;
 right: 15%;
 top: 20%;
}

#boardSettings{
 position:absolute;
 left: 15%;
 top: 20%;
}

#leaveBoardForm{
 position:absolute;
 right: 15%;
 top: 40%;
  
}

#description, #boardName{
  width:60%;
}