@import url('https://fonts.googleapis.com/css2?family=Barlow:ital@1&display=swap%27');
/* font-family: 'Barlow', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap%27');
/* font-family: 'Roboto', sans-serif; */

.home-body {
    font-family: 'Roboto', sans-serif;
}
.login-btn{
    background: black;
    border-radius: 0.625rem;
    padding: 0.625rem 1.25rem;
    font-size: 22pt;
    font-weight: bold;
    color: orange;
    cursor: pointer;
    box-shadow: 0 0 0.625rem rgba(0,0,0,0.1);
    top: 10%;
    width: 18.75rem;
}

.signup-btn {
    padding: 1rem;
    cursor: pointer;
}

#login-error {
    color: red;
}

#signup:checked ~ .container{
    display: block;
}

input[type="checkbox"] {
    display: none;
}
.container {
    background: #fff;
    width: 25.625rem;
    padding: 1.9rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
}
.container .close-btn{
    position: absolute;
    right: 1.25rem;
    top: 0.9rem;
    font-size: 18pt;
    cursor: pointer;
}

.container .close-btn:hover{
    color: orange;
}

.close-btn {
    width: 2rem;
    height: 2rem;
    opacity: 0.3;
}

.close-btn:hover {
    opacity: 1;
}

.close-btn:before, .close-btn:after {
    position: absolute;
    left: 0.9rem;
    content: ' ';
    height: 2rem;
    width: 0.125rem;
    background-color: orange;
}

.close-btn:before {
    transform: rotate(45deg);
}

.close-btn:after {
    transform: rotate(-45deg);
}

.container .text {
    font-size: 35pt;
    font-weight: 600;
    text-align: center;
}

.container form{
    margin-top: -1.25rem;
}

.container form .data{
    height: 2.8rem;
    width: 100%;
    margin: 2.5rem 0;
}

form .data label{
    font-size: 18pt;
}

form .data input{
    height: 100%;
    width: 100%;
    padding-left: 0.625rem;
    font-size: 17pt;
    border: 1px solid silver;

}

form .data input:focus{
    border-color: orange;
    border-bottom-width: 0.125rem;
}

form .forgot-pass{
    margin-top: -1rem;
}

form .forgot-pass a{
    color: orange;
    text-decoration: none;
}

form .forgot-pass a:hover{
    text-decoration: underline;

}

form .btn{
    margin: 1.875rem 0;
    height: 2.8rem;
    width: 100%;
    position: relative;
    overflow: hidden;
}

form .btn .inner{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    z-index: -1;
    background: orange;
    transition: all 0.4s;
}

form .btn:hover .inner{
    left: 0;
}

form .btn button{
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    color: black;
    font-size: 18pt;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

form .signup-link{
    text-align: center;
}

form .signup-link button{
    color: black;
    text-decoration: none;
    background: none;
    border: none;
}

form .signup-link button:hover{
    text-decoration: underline;
}

.home_head {
    display: flex;
    width: 100%;
    background-color: black;
    margin: -10px;
    padding: 20px;
}
body {
    background-color: black;
}

.intro-txt {
    color: white;
    font-size: 18pt;
    margin-top: 3.125rem;
    margin-right: 1rem;
}

.home-main {
    display: flex;
    left: 25%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3.125rem;
    margin-bottom: 1.25rem;
    margin-left: 17%;
    margin-right: 17%;
    padding: 0.625rem;
}

.main-left {
    display: flex;
    flex-direction: column;
}

.logo-home {
    width: 25%;
    height: auto;
    margin-left: 10%;
    margin-top: auto;
    margin-bottom: auto;
}

.home-buttons {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 15%;
    margin-left: 30%;
    width: 80%;
}

.home-buttons .signup-box {
    margin-top: 1.7rem;
}

.home-buttons .login-head {
    margin-top: 2.8rem;
}

.login-head {
    margin: 0.625rem;
}

.sign-head {
    margin: 0.625rem;
}

.signup-main {
    margin-top: 28%;
    margin-left: 20%;
    margin-right: 20%;
}

.signup-main .signup-btn {
    font-size: 25pt;
}

.signup-box {
    background-color: orange;
    height: auto;
    border-radius: 0.625rem;
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
    color: black;
    box-shadow: 0 0 0.625rem rgba(0,0,0,0.1);
    padding: 0.2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.home-example {
    width: 40%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.signup-container {
    height: 30rem;
}