.modal {
  display: none;
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0, 0, 0); 
  background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 30px;
  border: 1px solid #888;
  width: 50%; 
  height: 30%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

button {
  background-color: black;
  color: white;
  padding: 5px 8px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 60%;
  opacity: 0.9;
}
.savebtn{
  float: left;
  width: 30%;
  bottom: 20;
}
.deletebtn{
  background-color: #FF2E2E;
  float: right;
  width: 30%;
}

button:hover{
  color: #DDDDDD;
  border-color: #DDDDDD;
 }
 
  button :active{
  color: #BBBBBB;
  border-color: #BBBBBB;
 }
 
 @media all and (max-width:30em){
  button{
  display: block;
  margin: 0.4em auto;
  }
 }