@import url('https://fonts.googleapis.com/css2?family=Barlow:ital@1&display=swap%27');
/* font-family: 'Barlow', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap%27');
/* font-family: 'Roboto', sans-serif; */

* {
  background-color: #3c3c3c;
}

/* NAV BAR */

#nav-logo {
  max-width: 12rem;
  max-height: 12rem;
}

#nav-pfp {
  font-family: 'Barlow', sans-serif;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 35pt;
  border-radius: 50%;
}

#nav-pfp-li {
  float: right;
  margin-right: 5rem;
  /* padding-right: 5rem; */
  width: 4rem;
  height: 4rem;
  text-align: center;
  border-radius: 50%;
}

#nav-list {
  list-style: none;
}

#nav-list li {
  display: inline;
}

nav {
  width: 100%;
  border-bottom: 2px solid #000000;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
}

/* ERROR PAGE */
.error-page {
  text-align: center;
}

.err-h1 {
  color: #d9534f;
  font-size: 30pt;
}

.err-msg {
  color: black;
}

/* BOARD PAGE */
#boards {
  font-family: 'Barlow', sans-serif;
  list-style: none;
  margin-left: 7rem;
  margin-right: 5rem;
}

.board-link {
  position: relative;
  display: inline-block;
  width: 19rem;
  height: 5rem;
  border: 3px solid #000000;
  overflow: auto;
}

.board-link a {
  position: absolute;
  text-decoration: none;
  font-size: 20pt;
  margin-top: 1rem;
  margin-left: 6.5rem;
  margin-right: 7rem;
  background-color: white;
  padding-right: .5rem;
  padding-left: .5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-radius: 20%;
  color: black;
}

#new-board-form {
  width: 50%;
  margin: auto;
}

#new-board-form label {
  color: #f99a04;
  font-size: 20pt;
}

#new-board-form input {
  background-color: white;
  font-size: 20pt;
}

#new-board-form button {
  font-size: 20pt;
  background-color: #d38200;
  color: white;
}